* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: hsl(222, 26%, 31%);
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.left h2{
  color: hsl(0, 0%, 100%);

}
.right{
    display: flex;
    gap: 0.5rem;
}
.theme{
    display: flex;
    align-self: flex-end;
    font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-size: 12px;

}
.range{
    width: 50px;
}
.btn{
    display: flex;
    flex-direction: column;
}
.p{
    display: flex;
    gap: .6rem;
  color: hsl(0, 0%, 100%);
    
}
.output input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 5.5rem;
  font-size: 20px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  padding: 1.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: hsl(224, 36%, 15%);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: hsl(223, 31%, 20%);
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 5px;
}
.buttons button {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 7px;
  font-size: 20px;
  font-weight: 800;
  padding: 1rem;
}
.reset {
  grid-column: span 2;
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  border: none;
}
.equal {
  grid-column: span 2;
  background-color: hsl(6, 63%, 50%);
  border: none;
  color: hsl(0, 0%, 100%);
}
.del {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    border: none; 
}
